/* Button Stuff */
.btn-dark {
    background-color: #2C3E50 !important;
    border-color: #7b8a8b;
}

/* Navbar Stuff */
.nav-link {
    display: contents !important;
}

.bg-colored {
    background: #2C3E50 !important;
}

.fa-paint-brush {
    margin-right: 10px;
    color: white;
}

#newItemForm {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }